Logo = #351327
Bark =  'Berkshire Swash', cursive
Amatic  = 'Amatic SC', cursive
subText = #3f2803

.aboutUs-container
	.col.s12
		height 340px
	img
		width 250px
		height 250px
		border-radius 15px
	h5
		color Logo
	p
		color subText
		
@media only screen and (max-width: 1400px)
	.aboutUs-container
		.col.s12
			height 290px
		img
			width 200px
			height 200px	
			
@media only screen and (max-width: 1200px)
	.aboutUs-container
		.col.s12
			height 240px
		img
			width 150px
			height 150px
		h5
			font-size 1.50rem
@media only screen and (max-width: 800px)
	.aboutUs-container
		.col.s12
			height 220px
		img
			width 150px
			height 150px
		h5
			font-size 1.10rem	
@media only screen and (max-width: 600px)
	.aboutUs-container
		.col.s12
			height 110px
		img
			width 100px
			height 100px
@media only screen and (max-width: 360px)
	.aboutUs-container
		.col.s12
			height 70px
		img
			width 50px
			height 50px
@media only screen and (max-width: 260px)
	.aboutUs-container
		.col.s12
			height 60px
		img
			width 30px
			height 30px