Logo = #351327
Bark =  'Berkshire Swash', cursive
Amatic  = 'Amatic SC', cursive
subText = #3f2803

.temptations
	.collection
		border 1px solid white
		.collection-item
			&.avatar
				&:not(.circle-clipper) 
					.circle
						width 100px
						height 100px
						border-radius 0
				padding-left 120px
			span
				color Logo
				font-family Bark
			p
				color subText
			a
				color Logo
			.prices
				font-size 12px		
		.asideAddCartModal
			width 70%
			border 10px solid Logo
			height 1200px
			max-height 90%
			overflow auto
			.row
				background-color white
				margin 0
				.col
					padding 0
			img
				position absolute
				width 66.6666666667%
				height 100%
				left 0px
			.col.s4 
				color Logo
				height 100%
			.col.s8
				padding 0
				height 100%
			.input-field label
				color Logo
			a
				color Logo
			h1
				text-align left
				margin-bottom 0
				font-size 40px
				font-family Bark
				font-style italic
				margin-top 0.67em
			.divider
				background-color subText
				margin-bottom 25px
			.price
				color subText
				font-family Bark
				font-size 35px
			p
				font-style italic
				font-size 16px
				text-align justify
				margin-bottom 0
				color subText
			.container
				width 80%
			h6
				font-style italic
				font-size 20px
				text-align justify

@media only screen and (max-width: 1200px)
	.temptations
		.collection
			border 1px solid white
			.collection-item
				&.avatar
					&:not(.circle-clipper) 
						.circle
							width 50px
							height 50px
						padding-left 70px	
					

.content-carAside 
	img
		width:150px
		height:150px
	.collapsible-body
		padding:0
		.row
			margin:0
			.col  
				padding:0
.links
	a
		display table
		color subText
		text-align center
		img, i
			margin-left 0.5em					
.asidePag
	h2
		color Logo
		font-family Amatic
		font-size 20px
		font-weight bold
		text-align center
		