Logo = #351327
Bark =  'Berkshire Swash', cursive
Amatic  = 'Amatic SC', cursive
subText = #3f2803
.showPedido
	width 70%
	max-height 90%
	.row
		background-color white
		margin 0
		.col
			padding 0
	img
		width 66.6666666667%
		height 100%
		left 0px
	.col.s4 
		color Logo
		height 100%
	.col.s8
		padding 0
		height 100%
	.input-field label
		color Logo
	a
		color white
	h1
		text-align left
		margin-bottom 0
		font-size 40px
		font-family Bark
		font-style italic
		margin-top 0.67em
		color Logo
	.divider
		background-color subText
		margin-bottom 25px
	.price
		color subText
		font-family Bark
		font-size 35px
	p
		font-style italic
		font-size 16px
		text-align justify
		margin-bottom 0
		color subText
	h6
		font-style italic
		font-size 20px
		text-align justify
		color Logo
		
@media only screen and (max-width: 350px)
	.showPedido
		h1
			font-size 30px
		h6
			font-size 16px
		p
			font-size 14px	

