Logo = #351327
Bark =  'Berkshire Swash', cursive
Amatic  = 'Amatic SC', cursive
subText = #3f2803

.formValide
	h3 
		font-family Amatic
		color Logo
.payBox
	.row
		margin-bottom 0
	.price
		display flex
		h5
			font-family Amatic
			color Logo
		h4
			font-family Amatic
			color subText
			font-weight bold
	p
		color Logo		
.customTable
	td
		color Logo
		font-weight bold
		a, input
			font-weight normal
		&.price		
			color subText
		