extends ./layout.jade
block contenido
	.titlePag
		.container
			h1 Nuestros Ingredientes
			p Conoce como estan de que estan hechas nuestras creaciones
	.container
		.row
			.col.s12.m12.l9
				ul.collapsible.popout(data-collapsible="accordion")
					li
						.collapsible-header.active
							i.material-icons cakes
							| #{"Tortas"}
						.collapsible-body.center.aboutUs-container
							.row
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de chocolate" src="/stactic/pictures/aboutUs/chocolateCake.jpg")
									.col.s6.m12
										h5 Torta de chocolate
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de Vainilla" src="/stactic/pictures/aboutUs/vanilaCake.jpg")
									.col.s6.m12
										h5 Torta de Vainilla
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de chocolate con chispas" src="/stactic/pictures/aboutUs/chocolateCakeChispas.jpg")
									.col.s6.m12
										h5 Torta de chocolate con chispas
				
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de Naraja" src="/stactic/pictures/aboutUs/orangeCake.jpg")
									.col.s6.m12
										h5 Torta de Naraja
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de coco" src="/stactic/pictures/aboutUs/cocoCake.jpg")
									.col.s6.m12
										h5 Torta de coco
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de limon" src="/stactic/pictures/aboutUs/limonCake.jpg")
									.col.s6.m12
										h5 Torta de limon
				
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de cafe" src="/stactic/pictures/aboutUs/cafeCake.jpg")
									.col.s6.m12
										h5 Torta de cafe
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de red velvet" src="/stactic/pictures/aboutUs/redVelvetCake.jpg")
									.col.s6.m12
										h5 Torta de red velvet
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torta de vainilla con chispas" src="/stactic/pictures/aboutUs/vainillaCakeChispas.jpg")
									.col.s6.m12
										h5 Torta de vainilla con chispas		
					li
						.collapsible-header
							i.material-icons cakes
							| #{"Rellenos"}
						.collapsible-body.aboutUs-container
							.row
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Buttercream de chocolate" src="/stactic/pictures/aboutUs/chocolateButterCream.jpg")
									.col.s6.m12
										h5 Buttercream de chocolate
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Buttercream de Vainilla" src="/stactic/pictures/aboutUs/vainillaButterCream.jpg")
									.col.s6.m12
										h5 Buttercream de Vainilla
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Buttercream de Oreo" src="/stactic/pictures/aboutUs/OreoButterCream.jpg")
									.col.s6.m12
										h5 Buttercream de Oreo
				
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Buttercream de Naraja" src="/stactic/pictures/aboutUs/orangeButterCream.jpg")
									.col.s6.m12
										h5 Buttercream de Naraja
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Buttercream de Queso Crema" src="/stactic/pictures/aboutUs/quesoCremaButterCream.jpg")
									.col.s6.m12
										h5 Buttercream de Queso Crema
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Arequipe" src="/stactic/pictures/aboutUs/arequipe.jpg")
									.col.s6.m12
										h5 Arequipe
				
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Jalea de Parchita" src="/stactic/pictures/aboutUs/JaleaParchita.jpg")
									.col.s6.m12
										h5 Jalea de Parchita
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Jalea de Mora" src="/stactic/pictures/aboutUs/JaleaMora.jpg")
									.col.s6.m12
										h5 Jalea de Mora	
					li
						.collapsible-header
							i.material-icons cakes
							| #{"Dulces"}
						.collapsible-body.aboutUs-container
							.row.center
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Torontos" src="/stactic/pictures/aboutUs/Torontos.jpg")
									.col.s6.m12
										h5 Torontos
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Chocolate Cri Cri" src="/stactic/pictures/aboutUs/CriCri.jpg")
									.col.s6.m12
										h5 Chocolate Cri Cri
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Piruli" src="/stactic/pictures/aboutUs/Piruli.jpg")
									.col.s6.m12
										h5 Piruli
				
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Oreos" src="/stactic/pictures/aboutUs/Oreo.png")
									.col.s6.m12
										h5 Oreos
								.col.s12.m4
									.col.s6.m12
										img.materialboxed(data-caption = "Candys" src="/stactic/pictures/aboutUs/Candys.jpg")
									.col.s6.m12
										h5 Candys
			script(src="/stactic/javaScript/eventAboutUs.js")				
			.col.s0.l3
				include ./asidePag.jade	
	include ./footer.jade