extends ./layout.jade
block contenido
	.titlePag
		.container
			h1 Preguntas frecuentes
			p Los detalles de como trabajamos
	.container
		.row
			.col.s9
				h1 Aqui ira preguntas frecuentes
			.col.s3
				include ./asidePag.jade	
	include ./footer.jade