extends ./layout.jade
block contenido
	div(class="col-md-6 center-block remove-float center-text big-top-space ")
		form(action="/login", method= "POST" )
			div(class="form-group")
				label(for="email",) Correo
				input(type="text", name="email", placeholder="Correo", id="email", class="form-control")
			div
				label(for="password",) Contrasena
				input(type="password", name="password", placeholder="Contrasena", id="password" class = "form-control")
			div(class="top-space row")
				div(class = "col-xs-12 col-sm-6")
					input(type="submit", value = "Iniciar sesion" class= "btn btn-info" )
				div(class="text-right col-xs-12 col-sm-6")
					a(href="/register" ) No tengo cuenta	
